body {
            
            
    margin: 0;
    
    background-color:#694F8E ;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    padding: 90px;
    width: 300px;
    background-color: #FEF3E2;
    text-align: center;
    border-radius: 10px;
}

#text {
    font-size: 40px;
}

#button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}